<?xml version="1.0" ?>
<model>
  <name>aruco_tag_30</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <description>
    A flat ARUco tag with the ID 30, designed to be used in Gazebo Harmonic.
    This model has a 1x1 m flat surface with a texture applied to it.
  </description>
  <author>
    <name>Yoan Mollard</name>
    <email>opensource@aubrune.eu</email>
  </author>
  <license>http://www.apache.org/licenses/LICENSE-2.0</license>
  <category>Other</category>
  <tags>ARUco, tag, marker, Gazebo</tags>
</model>
