<?xml version="1.0" ?>
<model>
  <name>cube_1</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <description>
    A cube tagged with handwritten number 1
  </description>
  <author>
    <name>Yoan Mollard</name>
    <email>opensource@aubrune.eu</email>
  </author>
  <license>http://www.apache.org/licenses/LICENSE-2.0</license>
  <category>Other</category>
  <tags>number, mnist, tag, marker, Gazebo</tags>
</model>
