<?xml version="1.0"?>

<model>
  <name>movable_coke_can</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Woensug Choi</name>
    <email>woensugchoi@gmail.com</email>
  </author>

  <description>
    Coke can with realistic mass than can be picked by robots
  </description>
</model>
